* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
h1{
 font-size: small;   
}
p{
    font-size:x-small
}

  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    width: calc(100% / 3);
    padding: 10px;
  }
  
  .card {
    position: relative;
  }

  .img-1a{
    display: block;
  }

  .img-1b{
    display: none;
    
  }

  #changeimage{

  }

  #changeimage:hover .img-1a{
    display: none;
  }

  #changeimage:hover .img-1b{
    display: block;
  }


  
  .discount {
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: red;
    color: white;
  }
  

  .discount-green {
    position: absolute;
    bottom: 100px;
    left: 38px;
    background-color: green;
    color: white;
  }


  .discount-green-special {
    position: absolute;
    bottom: 100px;
    left: 0px;
    background-color: green;
    color: white;
  }



  .heart {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 2rem;
  }
  
  